<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dealership Review</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
  <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
  <script
    src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

<body>
<!--Add a nav bar here -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Dealership Review</h5>

  {% if user.is_authenticated %}
    <span class="text-primary">({{ user.username }})</span>
    <a class="btn text-primary" href="{% url 'djangoapp:logout' %}">Logout</a>
  {% else %}
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="{% url 'djangoapp:about' %}">About US</a>
      <a class="p-2 text-dark" href="{% url 'djangoapp:contact' %}">Contact Us</a>
    </nav>
    <div>
      <form class="form-inline" action="{% url 'djangoapp:login' %}" method="POST">
        <input class="form-control mx-2" placeholder="Username/Email" name="username" type="text"/>
        <input class="form-control mx-2" placeholder="Password" name="psw" type="password"/>

        {% csrf_token %}
        <button type="submit" class="btn btn-primary mx-2">Login</button>
      </form>
    </div>
    <a class="btn btn-outline-primary" href="{% url 'djangoapp:registration' %}">Sign up</a>
  {% endif %}
</div>

<section class="Material-contact-section section-padding section-dark">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h1 class="section-title">Welcome to Dealership Review, Love to Hear From You</h1>
      </div>
    </div>
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
        <p>
          Dealership Review is a family owned business that has been serving the community for over 20 years.
          We are located in the heart of the city and have a wide variety of cars to choose from.
        </p>
        <div class="find-widget">
          Company: <a href="#">Dealership Review</a>
        </div>
        <div class="find-widget">
          Address: <a href="#">Sample Address</a>
        </div>
        <div class="find-widget">
          Phone: <a href="#">+ 12222211111</a>
        </div>

        <div class="find-widget">
          Website: <a href="#">https://example.com</a>
        </div>

      </div>
      <!-- contact form -->
      <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
        <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
          <!-- Name -->
          <div class="form-group label-floating">
            <label class="control-label" for="name">Name</label>
            <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
            <div class="help-block with-errors"></div>
          </div>
          <!-- email -->
          <div class="form-group label-floating">
            <label class="control-label" for="email">Email</label>
            <input class="form-control" id="email" type="email" name="email" required
                   data-error="Please enter your Email">
            <div class="help-block with-errors"></div>
          </div>
          <!-- Subject -->
          <div class="form-group label-floating">
            <label class="control-label">Subject</label>
            <input class="form-control" id="msg_subject" type="text" name="subject" required
                   data-error="Please enter your message subject">
            <div class="help-block with-errors"></div>
          </div>
          <!-- Message -->
          <div class="form-group label-floating">
            <label for="message" class="control-label">Message</label>
            <textarea class="form-control" rows="3" id="message" name="message" required
                      data-error="Write your message"></textarea>
            <div class="help-block with-errors"></div>
          </div>
          <!-- Form Submit -->
          <div class="form-submit mt-5">
            <button class="btn btn-primary" type="submit" id="form-submit"><i
              class="material-icons mdi mdi-message-outline"></i> Send Message
            </button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <h6>Best Cars dealership</h6>
      <small class="d-block mb-3 text-muted">© 2023</small>
    </div>
    <div class="col-6 col-md">
      <h5>Links</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{% url 'djangoapp:index' %}">Home</a></li>
        <li><a class="text-muted" href="{% url 'djangoapp:about' %}">About US</a></li>
        <li><a class="text-muted" href="{% url 'djangoapp:contact' %}">Contact US</a></li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>
